/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 1120px;
}

body {
  font-family: "TT Lakes";
}

.wrapper {
  margin: 20px 16px 0;
}

h1 {
  color: #7E7E82;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  padding: 15px 32px;
}

.popUp-window {
  background-color: #F8F8F8;
  display: flex;
  row-gap: 16px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 24px 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.popUp-window-button {
  padding: 24px 32px;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
}
.popUp-window-button__arrow {
  background-image: url("../../sass/img/expand.jpg");
  width: 24px;
  height: 24px;
}
.popUp-window__block {
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 220px;
  height: 72px;
}
@media (max-width: 768px) {
  .popUp-window__block {
    width: 220px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 320px) {
  .popUp-window, .popUp-window-button {
    display: none;
  }
}
.swiper {
  width: 100%;
  height: 150px;
}
@media (min-width: 321px) {
  .swiper {
    height: 0%;
  }
}

.swiper-slide {
  width: 100%;
  padding-top: 17px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  position: relative;
  z-index: 1;
}

.swiper-slide-next {
  z-index: 2;
  margin-left: -50px;
}

.swiper-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}
@media (min-width: 321px) {
  .swiper-block {
    display: none;
  }
}

.swiper-pagination {
  --swiper-pagination-bullet-inactive-color: #c9c7c7;
  --swiper-pagination-color: #B5B6BC;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
}
@media (min-width: 321px) {
  .swiper-pagination {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */