.pop-up {
}
.popUp-window {
  background-color: $bg-color;
  display: flex;
  row-gap: 16px;
  column-gap: 20px;
  padding: 24px 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
  

&-button {
  padding: 24px 32px;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  &__arrow {
    background-image: url('../sass/img/expand.jpg');
    width: 24px;
    height: 24px;
  }
  &__button {
  }
}

  &__block {
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 220px;
  height: 72px;
 
  @include media-tablet {
    width: 220px;
  }
  }
}

.hidden {
  display: none; 
}

@include media-mobile {
  .popUp-window, .popUp-window-button {
    display: none;
  }
}